.venv/
__pycache__/
mainenv/
hmrmodel/models/
hmrmodel/deeplab_model/
micemodel/micevenv/
micemodel/release_model/
hmrmodel/hmrvenv/
hoodmodel/
comprecmodel/salmarecvenv
comprecmodel/comprecenv
comprecmodel/fashion-dataset/
comprecmodel/df_embeddings.csv
comprecmodel/zara-dataset/
instance/
database.db
data/
*.tar.gz

