.venv/
__pycache__/
mainvenv/
hmrmodel/models/
hmrmodel/deeplab_model/
micemodel/micevenv/
micemodel/release_model/
hmrmodel/hmrvenv/
comprecmodel/salmarecvenv
comprecmodel/fashion-dataset/
comprecmodel/df_embeddings.csv
comprecmodel/zara-dataset/
instance/
*.tar.gz

